<div ng-controller="assetStatusController">
    <div class="page-header">
        <h3 style="margin-left:20px">Asset Status Modification</h3>
    </div>
    <div class="row col-sm-12">
        <div class="col-md-3">
            <div class="panel panel-default dataSource-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search All assets by status</h3>
                </div>
                <div class="panel-body">
                    <!-- Search form -->
                    <form role="form" artifactId="SearchForm">
                        <div class="form-group" ng-class="namePackageSelectClass" >
                            <label for="package-artifactId-select">Rule Package Name</label>
                            <select id="package-artifactId-select" ui-select2="selectPackage" ng-model="package"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    data-placeholder="Select a package">
                                <option value=""></option>
                                <option ng-repeat="p in packagesList" value="{{p}}">{{p}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group" ng-class="assetStatusSelectClass">
                            <label for="asset-status-select">Asset Status</label>
                            <select id="asset-status-select"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    ui-select2="filtersOptions"
                                    multiple
                                    ng-model="filters"
                                    data-placeholder="Select Status filters">
                                <option ng-repeat="stat in statuses" value="{{stat.assetStatus}}">{{stat.description}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button id="btn-cancel" class="btn btn-warning pull-left" ng-show="showCancelButton" ng-click="reset()">
                                <i class="fa fa-reply"></i>
                            </button>
                            <button id="btn-search" class="btn btn-info pull-right" ng-click="search()">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="panel panel-default" style="min-height: 248px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Result search</h3>
                </div>
                <div class="panel-body">
                    <!-- Search result -->
                    <br/>
                    <div class="alert alert-danger" ng-show="noAssetSent">
                        Error system
                    </div>
                    <div ng-show="assets.length == 0" class="alert alert-info" style="height:116px;padding-top:40px;padding-left:50px">
                            No Assets have been found
                    </div>
                    <div ng-show="assets.length > 0">
                        <div class="table-wrapper-div">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="bold">Asset artifactId</th>
                                    <th>Asset Type</th>
                                    <th>Current status</th>
                                    <th>Promote ?</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="asset in assets">
                                    <td>{{asset.artifactId}}</td>
                                    <td>{{asset.type}}</td>
                                    <td>{{asset.status}}</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" data-ng-model="asset.selected"/>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <br>
                        <button id="btn-demote" class="btn btn-warning pull-left" ng-click="demoteAssetsStatus()">Demote
                        </button>
                        <button id="btn-promote" class="btn btn-success pull-right" ng-click="promoteAssetsStatus()">
                            Promote
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>