<div class="col-md-9">
    <div class="panel panel-default" ng-controller="guvnorSettingsController">

        <div class="panel-heading">
            <h3 class="panel-title">Guvnor Settings</h3>
        </div>
        <div class="panel-body">
            <form artifactId="guvnorSettingsForm" class="form-horizontal" role="form" ng-submit="validateSettings(guvnorSettingsForm)">
                <div class="form-group">
                    <label for="guvnorHost" class="col-sm-3 control-label">Base URL</label>

                    <div class="col-sm-9">
                        <input type="url" class="form-control disabled" style="width:80%;" id="guvnorHost" placeholder="URL"
                               value="{{guvnor.host}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="guvnorApp" class="col-sm-3 control-label">Root context</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" style="width:80%;" id="guvnorApp" placeholder="webapp artifactId"
                               value="{{guvnor.appName}}" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-info pull-right">Next <i class="fa fa-long-arrow-right"></i></button>
            </form>
        </div>
    </div>
</div>