<div class="jumbotron">
    <h1>Drools platform manager</h1>
    <h2>Welcome to the drools platform.</h2>
    <p>This platform will allow you to build a <a href="/buildAssetPackage">new rule package</a> or <a href="#">deploy a rule package</a>. Therefore, you can access to the configurations.</p>
    <!-- Menu -->
    <div class="row">
        <!-- Runtime -->
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Runtime</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>

                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-gear"></i>
                                </div>
                                <div class="media-body">
                                    <a href="/runtimeBuilder">Generate new runtime</a>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-puzzle-piece "></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">Configure Guvnor</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-cloud-upload "></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">Deploy on Tomcat</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Lifetime -->
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Lifetime</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-pencil-square-o"></i>
                                </div>
                                <div class="media-body">
                                    <a href="/changeAssetStatus">Assets Status Modification</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="media-body">
                                    <a href="/packageVersionManagement">Package Version Management</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-sitemap"></i>
                                </div>
                                <div class="media-body">
                                    <a href="/home">Manage deployed runtime</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Monitoring -->
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Monitoring</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-dashboard"></i>
                                </div>
                                <div class="media-body">
                                    <a href="/runtimeAnalysis">Runtime Analysis</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-minus-circle"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">Stop Runtime Activity</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="fa fa-check-square-o"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">Test Runtime</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
