<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home"><i class="fa fa-home"></i> Drools Platform</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" ng-hide="loginRequired">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Rules Package & Runtime <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/runtimeBuilder"><i class="fa fa-cog"></i> Generate new runtime</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sitemap"></i> Manage deployed Runtime</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Assets Management <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/changeAssetStatus"><i class="fa fa-pencil-square-o"></i> Assets Status Modification</a></li>
                    <li class="divider"></li>
                    <li><a href="#/packageVersionManagement"><i class="fa fa-archive"></i> Package Version Management</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Runtime Monitoring <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/runtimeAnalysis"><i class="fa fa-dashboard"></i> Runtime Analysis </a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-hide="loginRequired">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <strong>{{username}}</strong> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a id="logout-link" ng-click="logout()"><i class="fa fa-sign-out"></i> logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<script type="text/javascript">
    $('.dropdown-toggle').click(function(e) {
        e.preventDefault();
        e.stopPropagation();

        return false;
    });
</script>
