<!doctype html>
<html ng-app="droolsPlatformApp">
    <head>
        <base href="/"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Drools Platform Management UI</title>
        <link rel="icon" href="favicon.ico">

        <meta artifactId="viewport" content="width=device-width">

        <link rel="stylesheet" href="components/select2/select2.css">
        <link rel="stylesheet" href="components/highlightjs/styles/monokai.css">
        <!-- build:css(.tmp) styles/less.css -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link rel="stylesheet" href="components/animate.css/animate.css">
        <link rel="stylesheet" href="styles/application.css">
        <!-- endbuild -->

    </head>

    <body ng-controller="MainCtrl" ng-cloak>

        <!-- build:js scripts/scripts.js -->
        <script src="components/underscore/underscore.js"></script>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="components/highlightjs/highlight.pack.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-route/angular-route.min.js"></script>
        <script src="components/angular-animate/angular-animate.min.js"></script>
        <script src="components/angular-scroll/angular-scroll.min.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>
        <script src="components/angular-growl-notifications/dist/growl-notifications.js"></script>
        <script src="components/select2/select2.min.js"></script>
        <script src="components/angular-ui-select2/src/select2.js"></script>
        <script src="components/angular-highlightjs/angular-highlightjs.min.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="components/angular-http-auth/src/http-auth-interceptor.js"></script>
        <script src="components/stomp-websocket/lib/stomp.js"></script>
        <script src="components/sockjs/sockjs.js"></script>
        <script src="components/moment/moment.js"></script>
        <script src="modules/momentjs-custom.js"></script>
        <script src="components/ng-context-menu/dist/ng-context-menu.min.js"></script>
        <script src="components/spin.js/spin.js"></script>
        <script src="components/angular-spinner/angular-spinner.js"></script>
        <!-- endbuild -->

        <!-- build:js modules/modules.js -->
        <script src="modules/Application.js"></script>
        <script src="modules/app-routes.js"></script>
        <script src="modules/home/HomeController.js"></script>

        <script src="modules/login/LoginService.js"></script>
        <script src="modules/login/LoginController.js"></script>

        <script src="modules/runtime-builder/RuntimeBuilderController.js"></script>
        <script src="modules/runtime-builder/guvnor-settings/GuvnorSettingsController.js"></script>
        <script src="modules/runtime-builder/runtime-definition/ArtifactsDefinitionsController.js"></script>

        <script src="modules/asset-management/status-modification/AssetStatusController.js"></script>
        <script src="modules/asset-management/package-version-management/PackageVersionManagementController.js"></script>

        <script src="modules/runtime-monitoring/runtime-analysis/runtime-analysis.js"></script>
        <!-- endbuild -->

        <div id="wrap" style="background-image: url('images/pattern.png');">
            <div ng-include="'modules/home/navbar.html'"></div>
            <div growl-notifications class="notifications"></div>
            <div us-spinner="{radius:30, width:8, lines: 13, length: 20, shadow:true}" spinner-key="spinner-1"></div>
            <div id="main">
                <div ng-include="'modules/login/login.html'"></div>
                <div ng-hide="loginRequired" ng-view></div>
            </div>
        </div>

        <footer>
            <img class="separator" src="images/footer_separator.png" alt="Pymma"/>
            <p class="muted credit pull-left">
                <img src="images/drools-platform-mini.png" alt="Pymma"/>
            </p>
            <p class="muted version pull-right">v {{version}}</p>
        </footer>

    </body>
</html>