<div data-ng-controller="runtimeAnalysisController">
    <div class="page-header">
        <h3 style="margin-left:20px">Runtime Analysis</h3>
    </div>
    <div class="row col-sm-12">
        <div class="col-md-3">
            <div class="panel panel-default dataSource-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter execution by Runtime</h3>
                </div>
                <div class="panel-body">
                    <!-- Search form -->
                    <form role="form" artifactId="SearchForm">
                        <h4>Guvnor</h4>
                        <div class="form-group" ng-class="namePackageSelectClass">
                            <label for="package-artifactId-select">Rule Package Name</label>
                            <select id="package-artifactId-select" ui-select2="selectPackage" ng-model="filters.groupId"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    data-placeholder="Select a package">
                                <option value=""></option>
                                <option ng-repeat="p in packagesList" value="{{p}}">{{p}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="iptstatus">Status</label>
                            <small>(Optional)</small>
                            <select id="iptstatus" ui-select2="selectStatus" ng-model="filters.status"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    data-placeholder="Select a runtime status">
                                <option value=""></option>
                                <option ng-repeat="s in statusesList" value="{{s.runtimeStatus}}">{{s.description}}
                                </option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="filters.onlyRunningInstances" ng-model="filters.onlyRunningInstances">
                                Only running instances
                            </label>
                        </div>
                        <!-- Angular Bootstrap UI collapsing functionality -->
                        <!-- The boolean values of collapseStatus.firstBox, secondBox, etc. haven't been declared in the JS file. Apparently we don't need to do it -->
                        <div class="form-group">
                            <a ng-click="collapseStatus.firstBox=!collapseStatus.firstBox">
                                <span ng-show="!collapseStatus.firstBox"><i class="fa fa-plus-circle"></i> More filters : Runtime</span>
                                <span ng-show="collapseStatus.firstBox"><i class="fa fa-minus-circle"></i> Hide filters</span>
                            </a>
                            <div collapse="!collapseStatus.firstBox">
                                <h4>Runtime</h4>
                                <label for="IPaddr">Hostname</label>
                                <small>(Optional)</small>
                                <input id="IPaddr" class="form-control" artifactId="hostname" type="text"
                                       placeholder="Enter the hostname" data-ng-model="filters.hostname">
                                <br>

                            </div>

                        </div>
                        <div class="form-group">
                            <a ng-click="collapseStatus.seconddBox=!collapseStatus.seconddBox">
                                <span ng-show="!collapseStatus.seconddBox"><i class="fa fa-plus-circle"></i> More filters : Session Execution</span>
                                <span ng-show="collapseStatus.seconddBox"><i class="fa fa-minus-circle"></i> Hide filters</span>
                            </a>
                            <div collapse="!collapseStatus.seconddBox">
                                <h4>SessionExecution</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="filters.startDate" is-open="datePickers.firstCalendar" min-date="dates.minDate" max-date="dates.maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event, 'startDate')"><i class="fa fa-calendar"></i></button></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>To :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" class="form-control" datepicker-popup="{{format}}" ng-model="filters.endDate" is-open="datePickers.secondCalendar" min-date="dates.minDate" max-date="'2014-07-29'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event, 'endDate')" >
                                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event, 'endDate')"><i class="fa fa-calendar"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="btn-cancel" class="btn btn-warning pull-left" ng-show="showCancelButton" ng-click="reset()">
                                <i class="fa fa-reply"></i>
                            </button>

                            <button id="btn-search" class="btn btn-info pull-right" ng-click="search()" ng-disabled="disableButton">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <!-- Result -->
        <div  class="col-md-7 col-md-offset-1" >
            <div class="row">
                <div class="panel panel-default" style="min-height: 372px;">
                    <div class="panel-heading panel-title">
                        <h3 class="panel-title">All Runtimes <span ng-show="allRuntimes.length != 0">({{count}} runtime(s))</span></h3>
                    </div>
                    <div class="panel-body">
                        <!-- Search result -->
                        <div class="table-wrapper-div" ng-show="allRuntimes.length != 0">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th class="bold">Rulebase ID</th>
                                    <th class="bold">Runtime URL</th>
                                    <!--th class="bold">Status</th-->
                                    <th class="bold">Rule Package artifactId</th>
                                    <th class="bold">Session Execution ID</th>
                                    <th class="bold">Started at</th>
                                    <th class="bold">Ended at</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="runtime in allRuntimes"
                                    style="cursor:default" class="runtime-status-{{runtime.status}}">
                                    <td>{{runtime.ruleBaseID}}</td>
                                    <td>{{runtime.runtimeURL}}</td>
                                    <!--td>{{runtime.status}}</td-->
                                    <!-- data-content="test content <a href='' title='test add link'>link on content</a>" -->
                                    <td style="cursor:pointer"><span tooltip-placement="bottom" tooltip-html-unsafe="<b>Guvnor URL</b><br/><a href='{{runtime.guvnorUrl}}' target='_blank'>{{runtime.guvnorUrl}}</a>" tooltip-trigger="click" >{{runtime.rulePackage}}</span></td>
                                    <td>{{runtime.sessionId}}</td>
                                    <td>{{runtime.startDate}}</td>
                                    <td>{{runtime.endDate}}</td>
                                    <td>
                                        <button class="btn " ng-click="loadDetails(runtime.id);"><i
                                                class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <span class="col-md-6 col-md-offset-4" >
                            <pagination  ng-show="allRuntimes.length != 0" total-items="count" ng-model="currentPage" items-per-page="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPagesMax" ng-change="pageChanged()"></pagination>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details -->
    <div id="detailsPanel" ng-show="sessionExecutionDetails.area" class="row col-md-12" style="overflow-y:auto" >
        <div class="page-header">
            <h3 style="margin-left:20px">Session Execution Details</h3>
        </div>
        <div class="col-md-10 col-md-offset-1" ng-show="sessionExecutionDetails.panel">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    <button type="button" class="close" aria-hidden="true" ng-click="closeDetailsPanel()" >&times;</button>
                    <h3 class="panel-title">All Rules Execution on Runtime </h3>
                </div>
                <div class="panel-body" style="min-height:700px;">
                    <tabset>
                        <tab heading="Input">
                            <br>
                            <div hljs source="code.input"></div>
                        </tab>
                        <tab heading="Output">
                            <br>
                            <div hljs source="code.output"></div>
                        </tab>
                        <tab heading="Event list">
                            <br>
                            <!-- TODO List for each processExecutions (sessionExecutionDetails in allSessionExecutionDetails)-->
                            <fieldset>
                                <legend class="scheduler-border">Process Details</legend>
                                <ul class="list-unstyled">
                                    <li>
                                        <b>Process artifactId : </b>{{allSessionExecutionDetails.processDetails.processName}}
                                    </li>
                                    <li>
                                        <b>Process Execution status : </b>{{allSessionExecutionDetails.processDetails.processExecutionStatus}}
                                    </li>
                                    <li>
                                        <b>Process type : </b>{{allSessionExecutionDetails.processDetails.processType}}
                                    </li>
                                </ul>
                            </fieldset>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <fieldset>
                                        <legend>Filter the details</legend>
                                        <form role="form" artifactId="SearchDetailsForm">
                                            <h4>Rule</h4>
                                            <div class="form-group" ng-class="ruleName">

                                                <select id="rule-artifactId-select" ui-select2="selectRuleName" ng-model="detailsFilters.ruleNameSelect"
                                                        class="form-control"
                                                        style="padding:0;height:auto;width:auto;"
                                                        data-placeholder="Select the rule artifactId">
                                                    <option value=""></option>
                                                    <option ng-repeat="r in ruleNameList" value="{{r}}">{{r}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group" ng-class="ruleType">

                                                <select id="rule-category-select" ui-select2="selectCategory" ng-model="detailsFilters.ruleCategorySelect"
                                                        class="form-control"
                                                        style="padding:0;height:auto;width:auto;"
                                                        data-placeholder="Select a category">
                                                    <option value=""></option>
                                                    <option ng-repeat="c in ruleAssetCategoryList" value="{{c.categoryName}}">{{c.categoryName}}
                                                    </option>
                                                </select>
                                            </div>

                                            <h4>Facts</h4>
                                            <div class="form-group" ng-class="factType">

                                                <select id="fact-type-select" ui-select2="selectFactType" ng-model="detailsFilters.factTypeSelect"
                                                        class="form-control"
                                                        style="padding:0;height:auto;width:auto;"
                                                        data-placeholder="Select a fact type">
                                                    <option value=""></option>
                                                    <option ng-repeat="f in facttypesList" value="{{f}}">{{f}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group" ng-class="fullClassName">

                                                <select id="full-class-artifactId-select" ui-select2="selectFullClassName" ng-model="detailsFilters.fullClassNameSelect"
                                                        class="form-control"
                                                        style="padding:0;height:auto;width:auto;"
                                                        data-placeholder="Select a class artifactId">
                                                    <option value=""></option>
                                                    <option ng-repeat="f in fullClassNameList" value="{{f}}">{{f}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <button id="btn-search" class="btn btn-info pull-right" ng-click="applyFilters()">
                                                    Apply filters
                                                </button>
                                            </div>

                                        </form>
                                    </fieldset>
                                </div>
                                <div class="col-md-9">
                                    <accordion  close-others="false">
                                        <!-- All Ruleflow Group-->
                                        <accordion-group is-open="status.ruleFlowGroupPanelOpen" ng-repeat="flowGroupDetails in allSessionExecutionDetails.allRuleFlowGroupDetails" ng-show="([flowGroupDetails] | filter:detailsFilters.ruleName:true | filter:detailsFilters.factType:true | filter:detailsFilters.fullClassName:true | filter:detailsFilters.ruleCategory:true).length > 0">
                                            <accordion-heading>
                                                <i class="fa fa-chevron-right" ng-show="!status.ruleFlowGroupPanelOpen"></i><i class="fa fa-chevron-down" ng-show="status.ruleFlowGroupPanelOpen"></i> Ruleflow{{flowGroupDetails.ruleflowGroup}}
                                            </accordion-heading>
                                            <div class="alert alert-info" ng-show="flowGroupDetails.allRuleExecutionDetails.length==0">
                                                <b>There are no rule executions for this ruleflow group.</b>
                                            </div>
                                            <accordion-group ng-repeat="ruleExecutionDetails in flowGroupDetails.allRuleExecutionDetails" is-open="status.ruleExecutionOpen">
                                                <accordion-heading>
                                                    <i class="fa fa-chevron-right" ng-show="!status.ruleExecutionOpen"></i>
                                                    <i class="fa fa-chevron-down" ng-show="status.ruleExecutionOpen"></i>
                                                    Rule Execution : {{ruleExecutionDetails.ruleName}}
                                                </accordion-heading>
                                                <div class="col-md-6">
                                                    <ul class="list-unstyled">
                                                        <li><b>Rule Execution Name : </b>{{ruleExecutionDetails.ruleName}}</li>
                                                        <li><b>Rule Package Name : </b>{{ruleExecutionDetails.groupId}}</li>
                                                        <li>
                                                            <b><a  ng-click="whenFacts = !whenFacts;"><i ng-show="!whenFacts" class="fa fa fa-plus-square-o"></i><i ng-show="whenFacts" class="fa fa-minus-square-o"></i> whenFacts </a>:</b> <br>
                                                            <!-- Had to add style="..." to keep indentation instead of class="list-unstyled" from bootstrap which doesn't keep indentation in addition of removing bullets -->
                                                            <ul collapse="!whenFacts" style="list-style-type:none;">
                                                                <li ng-repeat="whenFactItem in ruleExecutionDetails.whenFacts | filter:detailsFilters.factType:strict">
                                                                    <a ng-click="indentJSON(whenFactItem); whenFactsDetails = !whenFactsDetails;"><i ng-show="!whenFactsDetails" class="fa fa fa-plus-square-o"></i><i ng-show="whenFactsDetails" class="fa fa-minus-square-o"></i> {{whenFactItem.fullClassName}}</a>
                                                                    <div collapse="!whenFactsDetails" hljs source="whenFactItem.jsonFact"></div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <b><a  ng-click="thenFacts = !thenFacts;"><i ng-show="!thenFacts" class="fa fa fa-plus-square-o"></i><i ng-show="thenFacts" class="fa fa-minus-square-o"></i> thenFacts </a>:</b> <br>
                                                            <!-- I had to add style="..." to keep indentation instead of class="list-unstyled" from bootstrap which doesn't keep indentation in addition of removing bullets -->
                                                            <ul collapse="!thenFacts" style="list-style-type:none;">
                                                                <li ng-repeat="thenFactItem in ruleExecutionDetails.thenFacts | filter:detailsFilters.factType:strict">
                                                                    <a ng-click="indentJSON(thenFactItem); thenFactsDetails = !thenFactsDetails;"><i ng-show="!thenFactsDetails" class="fa fa fa-plus-square-o"></i><i ng-show="thenFactsDetails" class="fa fa-minus-square-o"></i>  {{thenFactItem.fullClassName}}</a> <span class="label label-info">{{thenFactItem.factType}}</span>
                                                                    <div collapse="!thenFactsDetails" hljs source="thenFactItem.jsonFact"></div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <div>
                                                                <b><a  ng-click="ruleAssetBool = !ruleAssetBool;"><i ng-show="!ruleAssetBool" class="fa fa fa-plus-square-o"></i><i ng-show="ruleAssetBool" class="fa fa-minus-square-o"></i> ruleAsset </a>:</b> <br>
                                                                <!-- I had to add style="..." to keep indentation instead of class="list-unstyled" from bootstrap which doesn't keep indentation in addition of removing bullets -->
                                                                <ul collapse="!ruleAssetBool" style="list-style-type:none;">
                                                                    <li>
                                                                        <b>Asset artifactId :</b> {{ruleExecutionDetails.ruleAsset.assetName}}
                                                                    </li>
                                                                    <li>
                                                                        <b><a  ng-click="ruleAssetCategoryBool = !ruleAssetCategoryBool;"><i ng-show="!ruleAssetCategoryBool" class="fa fa fa-plus-square-o"></i><i ng-show="ruleAssetCategoryBool" class="fa fa-minus-square-o"></i> Rule Asset Category </a>:</b> <br>
                                                                        <ul collapse="!ruleAssetCategoryBool">
                                                                            <li ng-repeat="ruleCategoryItem in ruleExecutionDetails.ruleAsset.ruleAssetCategory">
                                                                                <b>ID :</b> {{ruleCategoryItem.id}}
                                                                                <b>Category artifactId :</b> {{ruleCategoryItem.categoryName}}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <legend>Execution Stats</legend>
                                                        <b>Number of rules :</b><br>
                                                        <b>Duration :</b><br>
                                                        <b>Status :</b>

                                                    </fieldset>
                                                </div>
                                            </accordion-group>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="panel-footer">
                    Rulebase ID : {{selectedRuleBaseID}}, Session Id : {{selectedSessionId}}
                </div>
            </div>
        </div>
    </div>
    <div id="myLoader" class="modal fade" data-backdrop="static">
        <div class="modal-dialog loader">
            <div class="modal-content loader-content">
                <div class="modal-body center-block" style="text-align: center;">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>