<div class="col-md-9">
    <div class="panel panel-default" ng-controller="artifactsDefinitionsController">

        <div class="panel-heading">
            <h3 class="panel-title">Artifacts Definitions</h3>
        </div>

        <div class="panel-body">
            <form artifactId="artifactsDefinitionsForm" class="form-horizontal" role="form" ng-submit="validateDefinitions(artifactsDefinitionsForm)">
                <div class="form-group">
                    <label for="artefactHost" class="col-sm-3 control-label">Base URL</label>

                    <div class="col-sm-9">
                        <input type="url" class="form-control disabled" style="width:80%;" id="artefactHost" placeholder="URL"
                               value="{{artifact.host}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="artefactApp" class="col-sm-3 control-label">Root context</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" style="width:80%;" id="artefactApp" placeholder="webapp artifactId"
                               value="{{artifact.appName}}" required>
                    </div>
                </div>
                <!--div class="form-group"-->
                    <button type="button" class="btn btn-info pull-left" ng-click="gotoPreviousStep()"><i class="fa fa-long-arrow-left"></i> Prev.</button>
                    <button type="submit" class="btn btn-info pull-right">Next <i class="fa fa-long-arrow-right"></i></button>
                <!--/div-->

            </form>
        </div>
    </div>
</div>