<div data-ng-controller="packageVersionManagementController">
    <div class="page-header">
        <h3 style="margin-left:20px">Package Version Management</h3>
    </div>
    <div class="row col-sm-12">
        <div class="col-md-3">
            <div class="panel panel-default dataSource-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Package's versions</h3>
                </div>
                <div class="panel-body">
                    <!-- Search form -->
                    <form role="form" artifactId="NewPackageForm">
                        <div class="form-group" ng-class="namePackageSelectClass">
                            <label for="package-artifactId-select">Rule Package Name</label>
                            <select id="package-artifactId-select" ui-select2="selectPackage" ng-model="package"
                                    class="form-control"
                                    style="padding:0;height:auto;width:auto;"
                                    data-placeholder="Select a package">
                                <option value=""></option>
                                <option ng-repeat="p in packagesList" value="{{p}}">{{p}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ipt-version">Rule Package Version </label>
                            <small>(Optional)</small>
                            <input id="ipt-version" class="form-control" artifactId="versionSearched" type="text"
                                   placeholder="Please enter the new rule package version artifactId" data-ng-model="version"
                                   ng-pattern="/^.*+.[0-9]+.[0-9]+$/">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="isCheckedSearch" ng-model="isCheckedSearch"
                                       > SNAPSHOT
                            </label>
                        </div>
                        <div class="form-group">
                            <button id="btn-cancel" class="btn btn-warning pull-left" ng-show="showCancelButton"
                                    ng-click="reset()"><i class="fa fa-reply"></i></button>
                            <button id="btn-search" class="btn btn-info pull-right"
                                    data-ng-click="searchPackage()"><i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="panel panel-default" style="min-height: 280px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Result search</h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <div class="alert alert-danger" ng-show="noAssetSent">
                        Error HTTP {{status}}
                    </div>
                    <div ng-show="searchNotSuccessful || NewPackageForm.versionSearched.$invalid" class="alert alert-info">
                        <strong>If you are looking for a particular version :</strong><br>
                        <ul>
                            <li>To find the version <strong>1.0.0 of this package</strong>, you must write : <code>1.0.0</code></li>
                            <li>To find the package versions <strong>beginning with 1</strong>, you must write : : <code>1.*.*</code></li>
                            <li>To see <strong>all the existing versions</strong> you can type, you must write : : <code>*</code></li>
                        </ul>
                    </div>
                    <div ng-show="packageVersionsList.length == 0" class="alert alert-warning" style="height:116px;padding-top:40px;padding-left:50px">
                        <p>Not successful search.</p>

                    </div>
                    <div ng-show="packageVersionsList.length > 0">
                        <div class="table-wrapper-div">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="bold">Package artifactId</th>
                                    <th>Version</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!-- onRightClick will enable the change of boolean statement (isSnapshot) which allow to know if it is a snapshot version or not -->
                                    <!-- data-target links the line to the context menu -->
                                    <tr context-menu="onRightClick(packageVersion)" data-target="myMenu"
                                        ng-repeat="packageVersion in packageVersionsList">
                                        <td>{{packageVersion.groupId}}</td>
                                        <td>{{packageVersion.version}}</td>
                                        <td>
                                            <span ng-show="!packageVersion.isRelease" class="label label-warning">
                                                SNAPSHOT
                                            </span>
                                            <span ng-show="packageVersion.isRelease" class="label label-success">
                                                RELEASE
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- Context menu -->
                                    <div  class="dropdown position-fixed ng-scope" id="myMenu">
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li ng-show="isSnapshot" ng-class="{true:'disabled'} [visibleItem]" role="presentation">
                                                <a class="pointer" role="menuitem" tabindex="-1"
                                                   ng-click="showWizzard('rebuild')">Rebuild</a>
                                            </li>
                                            <li ng-show="isSnapshot" ng-class="{true:'disabled'} [visibleItem]" role="presentation">
                                                <a class="pointer" role="menuitem" tabindex="-1"
                                                   ng-click="showWizzard('release')">Release</a>
                                            </li>
                                            <li ng-show="isSnapshot" class="divider"></li>
                                            <li role="presentation">
                                                <a class="pointer" role="menuitem" tabindex="-1"
                                                   ng-click="showDeploy()">Deploy</a>
                                            </li>
                                            <li ng-show="isSnapshot" class="divider"></li>
                                            <li ng-show="isSnapshot" role="presentation">
                                                <a class="pointer" role="menuitem" tabindex="-1"
                                                   ng-click="showAlertMsg()">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button id="btn-launcher" class="btn btn-success pull-right" ng-show="isCreateButtonVisible"
                            ng-click="showWizzard('create')">
                        <i class="fa fa-plus"></i> Add a new version
                    </button>
                    <!-- Modal : Wizzard -->
                    <div id="Wizzard" class="modal fade" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 ng-show="isCreateButtonEnabled" class="modal-title">Add a new version</h4>
                                    <h4 ng-show="isRebuildButtonEnabled" class="modal-title">Rebuild this version</h4>
                                    <h4 ng-show="isReleaseButtonEnabled" class="modal-title">Release the version</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" artifactId="NewVersionPackageForm">
                                        <div class="form-group" ng-class="iptNewVersion">
                                            <label for="newVersion">Version</label> <span ng-show="alreadyExist" class="label label-warning">Version already existing</span>
                                            <input id="newVersion" class="form-control" placeholder="x.y.z" artifactId="newVersion"
                                                  ng-model="newVersion" ng-disabled="isVersionFieldDisabled"
                                                   required ng-pattern="/^[0-9]+.[0-9]+.[0-9]+$/" />

                                        </div>
                                        <div class="form-group" ng-class="slctAssetStatus">
                                            <label for="assetStatusSelect">Asset status</label>
                                            <select id="assetStatusSelect"
                                                    class="form-control"
                                                    artifactId="assetStatusSelect"
                                                    style="padding:0;height:auto;width:auto;"
                                                    ui-select2="filtersOptions"
                                                    multiple
                                                    ng-model="filters"
                                                    ng-disabled="isASFieldDisabled"
                                                    placeholder="Select Status filters"
                                                    ng-required="true">
                                                <option ng-repeat="stat in statuses" value="{{stat.assetStatus}}">
                                                    {{stat.description}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-checked="isChecked" ng-model="isChecked"
                                                       ng-disabled="isCheckboxFieldDisabled"> SNAPSHOT
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn-closeWizzard" class="btn btn-danger pull-left"
                                            ng-click="closeWizzard()">
                                        Cancel
                                    </button>
                                    <!-- ng-show -->
                                    <button ng-show="isCreateButtonEnabled" id="btn-create"
                                            class="btn btn-success pull-right" ng-click="createVersion()">
                                        <span>Create</span>
                                    </button>
                                    <button ng-show="isRebuildButtonEnabled" id="btn-rebuild"
                                            class="btn btn-success pull-right" ng-click="rebuildVersion()">
                                        <span>Rebuild</span>
                                    </button>
                                    <button ng-show="isReleaseButtonEnabled" id="btn-release"
                                            class="btn btn-success pull-right" ng-click="createVersion()">
                                        <span>Release</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal :  Deployment -->
                    <div id="Deployment" class="modal fade" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Asset Package Deployment</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Package artifactId : <code>{{package}}</code>    Version : <code>{{newVersion}}</code>
                                    <span ng-show="isSnapshot" class="label label-warning"><small>
                                        SNAPSHOT
                                    </small></span>
                                        <span ng-show="!isSnapshot" class="label label-success"><small>
                                            RELEASE
                                        </small></span>
                                    </p>
                                    <div>
                                        All active runtimes
                                        <div ng-show="activeRuntimeList.length == 0" class="alert alert-info">
                                            <strong>Apparently, there are no active runtimes</strong>
                                        </div>
                                        <table class="table table-hover" ng-show="activeRuntimeList.length != 0">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-click="check()" ng-model="allChecked"></th>
                                                    <th class="bold">Rulebase ID</th>
                                                    <th class="bold">Runtime</th>
                                                    <th class="bold">Version</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="runtime in activeRuntimeList"
                                                    style="cursor:default" class="runtime-status-{{runtime.status}}">
                                                    <td>
                                                        <input type="checkbox" ng-model="runtime.isSelected">
                                                    </td>
                                                    <td>{{runtime.ruleBaseId}}</td>
                                                    <td>{{runtime.url}}</td>
                                                    <td>{{runtime.version}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button id="btn-closeDeploy" class="btn btn-danger pull-left"
                                            ng-click="closeDeploy()">
                                        Cancel
                                    </button>
                                    <button id="btn-deploy"
                                            class="btn btn-success pull-right" ng-click="deployVersion()">
                                        <span>Deploy</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="AlertMsg" class="modal fade" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete package version</h4>
                                </div>
                                <div class="modal-body">
                                        Are you sure you want to delete this version : {{newVersion}} ?
                                </div>
                                <div class="modal-footer">
                                    <button id="btn-cancelAction" class="btn btn-danger pull-left"
                                            ng-click="closeAlertMsg()">
                                        Cancel
                                    </button>
                                    <!-- ng-show -->
                                    <button id="btn-delete"
                                            class="btn btn-success pull-right" ng-click="deletePackageVersion()">
                                        <span>Delete</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
